<a href="https://colab.research.google.com/github/MathewNhari/Sendy-Logistics-Challenge/blob/master/Ensemble%20Method%20748.37.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing Libraries**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#**Importing Data**

In [2]:
riders = pd.read_csv('Riders.csv')
SampleSubmission = pd.read_csv('SampleSubmission.csv')
Test_df = pd.read_csv('Test.csv')
Train_df = pd.read_csv('Train.csv', parse_dates= ['Placement - Day of Month'])
VariableDefinitions = pd.read_csv('VariableDefinitions.csv')

In [3]:
VariableDefinitions

                                     Order No                Unique number identifying the order
0                                     User Id  Unique number identifying the customer on a pl...
1                                Vehicle Type  For this competition limited to bikes, however...
2                               Platform Type  Platform used to place the order, there are 4 ...
3                        Personal or Business                                      Customer type
4                    Placement - Day of Month                  Placement - Day of Month i.e 1-31
5                Placement - Weekday (Mo = 1)                   Placement - Weekday (Monday = 1)
6                            Placement - Time  Placement - Time - Time of day the order was p...
7                 Confirmation - Day of Month               Confirmation - Day of Month i.e 1-31
8             Confirmation - Weekday (Mo = 1)                Confirmation - Weekday (Monday = 1)
9                         Confirmation - Time  Confirmation - Time - Time of day the order wa...
10           Arrival at Pickup - Day of Month          Arrival at Pickup - Day of Month i.e 1-31
11       Arrival at Pickup - Weekday (Mo = 1)           Arrival at Pickup - Weekday (Monday = 1)
12                   Arrival at Pickup - Time  Time of day the the rider arrived at the locat...
13                      Pickup - Day of Month                     Pickup - Day of Month i.e 1-31
14                  Pickup - Weekday (Mo = 1)                      Pickup - Weekday (Monday = 1)
15                              Pickup - Time  Pickup - Time - Time of day the the rider pick...
16      Arrival at Destination - Day of Month        Arrival at Delivery - Day of Month i.e 1-31
17  Arrival at Destination - Weekday (Mo = 1)         Arrival at Delivery - Weekday (Monday = 1)
18              Arrival at Destination - Time  Arrival at Delivery Time - Time of day the rid...
19                              Distance (KM)            The distance from Pickup to Destination
20                                Temperature  Temperature at the time of order placement in ...
21               Precipitation in millimeters   Precipitation at the time of order placement ...
22                                 Pickup Lat                       Latitude of pick up location
23                                Pickup Long                      Longitude of pick up location
24                            Destination Lat                      Latitude of delivery location
25                           Destination Long                     Longitude of delivery location
26                                   Rider Id             ID of the Rider who accepted the order
27                Time from Pickup to Arrival  Time in seconds between 'Pickup' and 'Arrival ...
28                                        NaN                                                NaN
29                              Rider Metrics                                                NaN
30                                   Rider Id  Unique number identifying the rider (same as i...
31                               No_Of_Orders           Number of Orders the rider has delivered
32                                        Age  Number of days since the rider delivered the f...
33                             Average_Rating                        Average rating of the rider
34                              No_of_Ratings   Number of ratings the rider has received. Rat...

**Sample Submission**

In [4]:
SampleSubmission.head(1)

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0

In [5]:
riders.head(1)

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159

In [6]:
Train_df.head(1)

        Order No      User Id  ...      Rider Id  Time from Pickup to Arrival
0  Order_No_4211  User_Id_633  ...  Rider_Id_432                          745

[1 rows x 29 columns]

In [7]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  object
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(12), object(11)
memory usage: 4.7+ MB

In [8]:
#Train_df = Train_df.drop(['Precipitation in millimeters'], axis= 1)
#Test_df = Test_df.drop(['Precipitation in millimeters'], axis= 1)

# Joining Tables

In [9]:
dataset = pd.concat(objs=[Train_df, Test_df], axis=0)
dataset = dataset.merge(riders, on='Rider Id', how='left')

In [10]:
#Train_df = Train_df.merge(riders, on='Rider Id', how='left')
#Test_df = Test_df.merge(riders, on='Rider Id', how='left')

# **Data Cleaning**

**Checking for Duplicates**

In [11]:
#No duplicate Data On Test Data
def Check_duplicates(df):
  duplicates = df.duplicated(subset = ['Order No'], keep = False)
  return df[duplicates]

In [12]:
#No duplicates 
#Train_duplicates = Check_duplicates(Train_df)
#Test_duplucates = Check_duplicates(Test_df)
duplucates = Check_duplicates(dataset)

**Changing into int data types

In [13]:
dataset['Platform Type'] = dataset['Platform Type'].astype('object')
#Test_df['Platform Type'] = Test_df['Platform Type'].astype('object')       
#Train_df['Placement - Day of Month'] = Train_df['Placement - Day of Month'].astype('int')
dataset['Placement - Day of Month'] = dataset['Placement - Day of Month'].astype('int')

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28269 entries, 0 to 28268
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   28269 non-null  object
 1   User Id                                    28269 non-null  object
 2   Vehicle Type                               28269 non-null  object
 3   Platform Type                              28269 non-null  object
 4   Personal or Business                       28269 non-null  object
 5   Placement - Day of Month                   28269 non-null  int64
 6   Placement - Weekday (Mo = 1)               28269 non-null  int64
 7   Placement - Time                           28269 non-null  object
 8   Confirmation - Day of Month                28269 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            28269 non-null  int64
 10  Confirmation - Time                        28269 non-null  object
 11  Arrival at Pickup - Day of Month           28269 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       28269 non-null  int64
 13  Arrival at Pickup - Time                   28269 non-null  object
 14  Pickup - Day of Month                      28269 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  28269 non-null  int64
 16  Pickup - Time                              28269 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  float64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  float64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              28269 non-null  int64
 21  Temperature                                22466 non-null  float64
 22  Precipitation in millimeters               751 non-null    float64
 23  Pickup Lat                                 28269 non-null  float64
 24  Pickup Long                                28269 non-null  float64
 25  Destination Lat                            28269 non-null  float64
 26  Destination Long                           28269 non-null  float64
 27  Rider Id                                   28269 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  float64
 29  No_Of_Orders                               28269 non-null  int64
 30  Age                                        28269 non-null  int64
 31  Average_Rating                             28269 non-null  float64
 32  No_of_Ratings                              28269 non-null  int64
dtypes: float64(10), int64(12), object(11)
memory usage: 7.3+ MB

**Dropping columns not in test Data**

In [15]:
def columnDrop(df,columns):
  df.drop(columns, axis=1,inplace=True)
  #df.set_index(['Order No'], inplace= True)
  return df

In [16]:
Cols = ['Precipitation in millimeters']
dataset = columnDrop(dataset,Cols)
#Test_df = columnDrop(Test_df,Drop_Test_Cols)
#Train_df = columnDrop(Train_df,Drop_Train_Cols)

**Seperating Time**

In [17]:
def timeconvert(df,Time):
    df[Time] = df[Time].astype('datetime64')
    return df

In [18]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time','Arrival at Destination - Time']
dataset = timeconvert(dataset,Time_columns)
#Train_df = timeconvert(Train_df,Time_columns)
#Test_df = timeconvert(Test_df,Time_columns)

**Taking Care of missing Data**

In [19]:
from sklearn.impute import SimpleImputer

def missingData(df,columns,mode_cols):
  imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
  mode_imputer = SimpleImputer(missing_values=np.nan, strategy='mode')
  imputer.fit(df[columns])
  mode_imputer.fit(df[mode_cols])
  df[columns] = imputer.transform(df[columns])
  df[mode_cols] = mode_imputer.transform(df[mode_cols])
  return df

In [20]:
columns = ['Temperature']
mode_cols = ['Arrival at Destination - Day of Month','Arrival at Destination - Weekday (Mo = 1)','Arrival at Destination - Time']
dataset = missingData(dataset,columns,mode_cols)
#Train_df = missingData(Train_df,columns)

ValueError: ignored

In [ ]:
dataset.head(2)

In [ ]:
def splitDatetime(df,columns):
  for item in columns:
    #df[item+'_day'] = pd.to_datetime(df[item]).dt.day
    df[item+'_hour'] = pd.to_datetime(df[item]).dt.hour
    df[item+'_minutes'] = pd.to_datetime(df[item]).dt.minute
    df[item+'_seconds'] = pd.to_datetime(df[item]).dt.second
  df.drop(columns,axis=1, inplace = True)
  return df

In [ ]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time','Arrival at Destination - Time']
dataset = splitDatetime(dataset,Time_columns)
#Test_df = SplitDatetime(Test_df,Time_columns)

In [ ]:
dataset.head(1)

In [ ]:
dataset.info()

# **Feature Engineering**

**Get Dummy Variables**

In [ ]:
def dummy_encoder(df, cols):
  dummies = pd.get_dummies(df,columns= cols,drop_first = True)
  merged = pd.concat([df,dummies],axis='columns')
  final = merged.drop(cols, axis = 1)
  return dummies

In [ ]:
cols = ['Platform Type','Personal or Business', 'Placement - Weekday (Mo = 1)',
        'Confirmation - Weekday (Mo = 1)','Pickup - Weekday (Mo = 1)','Vehicle Type','Rider Id','User Id']
dataset = dummy_encoder(dataset, cols)
#Test_df = dummy_encoder(Test_df, cols)
dataset.head(1)

**Variable Selection by Correlation and Significance**

In [ ]:
subset = dataset.iloc[:,1:]
#Test = Test_df.drop(['Order No'],axis=1)

In [ ]:
subset.head(1)

In [ ]:
# Calculate correlations between predictor variables and the response variable
corrs = subset.corr()['Time from Pickup to Arrival'].sort_values(ascending=False)

In [ ]:
from scipy.stats import pearsonr

# Build a dictionary of correlation coefficients and p-values
dict_cp = {}

column_titles = [col for col in corrs.index if col!= 'Time from Pickup to Arrival']
for col in column_titles:
    p_val = round(pearsonr(subset[col], subset['Time from Pickup to Arrival'])[1],6)
    dict_cp[col] = {'Correlation_Coefficient':corrs[col],
                    'P_Value':p_val}

df_cp = pd.DataFrame(dict_cp).T
df_cp_sorted = df_cp.sort_values('P_Value')
df_cp_sorted[df_cp_sorted['P_Value']<0.1]

In [ ]:
# Model building - Independent Variable (IV) DataFrame
X_names = list(df_cp[df_cp['P_Value'] < 0.05].index)
X = subset[X_names]
#Test_data = Test[X_names]
# The dependent variable remains the same:
y = subset['Time from Pickup to Arrival']

In [ ]:
X.head()

In [ ]:
# Create the correlation matrix
corr = X.corr()

# Find rows and columns where correlation coefficients > 0.9 or <-0.9
corr[np.abs(corr) > 0.9]

In [ ]:
# As before, we create the correlation matrix
# and find rows and columnd where correlation coefficients > 0.9 or <-0.9
corr = X.corr()
r, c = np.where(np.abs(corr) > 0.9)

# We are only interested in the off diagonal entries:
off_diagonal = np.where(r != c)

# Show the correlation matrix rows and columns where we have highly correlated off diagonal entries:
corr.iloc[r[off_diagonal], c[off_diagonal]]

In [ ]:
#DropColumns = ['Pickup - Weekday (Mo = 1)_5', 'Placement - Weekday (Mo = 1)_5','Placement - Weekday (Mo = 1)_5',
#               'Confirmation - Weekday (Mo = 1)_5', 'Confirmation - Weekday (Mo = 1)_5', 'Confirmation - Weekday (Mo = 1)_2',
#               'Pickup - Weekday (Mo = 1)_2','Pickup - Weekday (Mo = 1)_2', 'Placement - Weekday (Mo = 1)_2',
#               'Placement - Weekday (Mo = 1)_2','Confirmation - Day of Month','Confirmation - Day of Month',
#               'Confirmation - Day of Month','Arrival at Pickup - Day of Month','Arrival at Pickup - Day of Month',
#               'Arrival at Pickup - Day of Month','Pickup - Day of Month','Pickup - Day of Month',
#               'Placement - Day of Month','Placement - Day of Month','Placement - Weekday (Mo = 1)_6',
#               'Pickup - Weekday (Mo = 1)_6','Pickup - Weekday (Mo = 1)_6','Confirmation - Weekday (Mo = 1)_6',
#               'Confirmation - Weekday (Mo = 1)_6','Rider Id_Rider_Id_83']#'Rider Id_Rider_Id_83'

In [ ]:
#X_data = X_data.drop(DropColumns,axis=1)
# = Test_df.drop(DropColumns, axis=1)

# Ensemble Method

**Feature Scaling**

In [ ]:
# import the scaling module
from sklearn.preprocessing import StandardScaler

In [ ]:
# create standardization object
scaler_X = StandardScaler()
scaler_y = StandardScaler()

In [ ]:
columns = ['Distance (KM)', 'Destination Long','Pickup Long']
# save standardized features into new variable
X[columns] = scaler_X.fit_transform(X[columns])
#y_data = np.array(y_data).reshape(-1,1)
y_data = np.array(y).reshape(-1,1)

**splitting features into test set and training set**

In [ ]:
# import train/test split module
from sklearn.model_selection import train_test_split

In [ ]:
# split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_data,
                                                    y_data,
                                                    test_size=0.20,
                                                    random_state=1)

**Ridge Model**

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge

In [ ]:
ridge = Ridge()
regressor = LinearRegression()

In [ ]:
ridge.fit(X_train, y_train)
regressor.fit(X_train, y_train)

In [ ]:
ridge_pred = ridge.predict(X_test)
regressor_pred = regressor.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
ridge_rmse = mean_squared_error(y_test, ridge_pred, squared= False)
regressor_rmse = mean_squared_error(y_test, regressor_pred, squared= False)

In [ ]:
ridge_rmse

In [ ]:
regressor_rmse

Building Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
reg_tree = DecisionTreeRegressor(max_depth=3)

In [ ]:
bst_reg = AdaBoostRegressor(base_estimator = reg_tree)
bst_reg.fit(X_train,y_train)

reg_tree.fit(X_train,y_train)
bst_pred = bst_reg.predict(X_test)
dt_pred = reg_tree.predict(X_test)

In [ ]:
dt_rmse = mean_squared_error(y_test, dt_pred, squared= False)
bst_rmse = mean_squared_error(y_test, bst_pred, squared= False)

In [ ]:
bst_rmse

In [ ]:
dt_rmse

SVR Model

In [ ]:
from sklearn.svm import SVR
sv_reg = SVR(kernel='rbf', gamma='auto')
sv_reg.fit(X_train,y_train)
svr_pred = sv_reg.predict(X_test)

In [ ]:
svr_rmse = mean_squared_error(y_test, svr_pred, squared= False)

In [ ]:
svr_rmse

Lasso Model

In [ ]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.01)
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)

In [ ]:
lasso_rmse = mean_squared_error(y_test, y_pred, squared= False)
lasso_rmse

XGBoost model

In [ ]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb.fit(X_train, y_train)

In [ ]:
xgb_pred = xgb.predict(X_test)

In [ ]:
xgb_rmse = mean_squared_error(y_test, y_pred, squared= False)

In [ ]:
xgb_rmse

Stacking method

In [ ]:
from sklearn.ensemble import StackingRegressor
models = [("DT",reg_tree),("SVR",sv_reg),("Ridge",ridge),("lasso",lasso),("xgb",xgb)]

In [ ]:
meta_learner_reg = LinearRegression()
s_reg = StackingRegressor(estimators=models, final_estimator=meta_learner_reg)

In [ ]:
s_reg.fit(X_train,y_train)

In [ ]:
s_reg_pred = s_reg.predict(X_test)

In [ ]:
meta_rmse = mean_squared_error(y_test, s_reg_pred, squared= False)

In [ ]:
meta_rmse