<a href="https://colab.research.google.com/github/MathewNhari/Sendy-Logistics-Challenge/blob/master/Final_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing Libraries**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#**Importing Data**

In [2]:
riders = pd.read_csv('Riders.csv')
SampleSubmission = pd.read_csv('SampleSubmission.csv')
Test_df = pd.read_csv('Test.csv')
Train_df = pd.read_csv('Train.csv', parse_dates= ['Placement - Day of Month'])
VariableDefinitions = pd.read_csv('VariableDefinitions.csv')

In [3]:
VariableDefinitions

                                     Order No                Unique number identifying the order
0                                     User Id  Unique number identifying the customer on a pl...
1                                Vehicle Type  For this competition limited to bikes, however...
2                               Platform Type  Platform used to place the order, there are 4 ...
3                        Personal or Business                                      Customer type
4                    Placement - Day of Month                  Placement - Day of Month i.e 1-31
5                Placement - Weekday (Mo = 1)                   Placement - Weekday (Monday = 1)
6                            Placement - Time  Placement - Time - Time of day the order was p...
7                 Confirmation - Day of Month               Confirmation - Day of Month i.e 1-31
8             Confirmation - Weekday (Mo = 1)                Confirmation - Weekday (Monday = 1)
9                         Confirmation - Time  Confirmation - Time - Time of day the order wa...
10           Arrival at Pickup - Day of Month          Arrival at Pickup - Day of Month i.e 1-31
11       Arrival at Pickup - Weekday (Mo = 1)           Arrival at Pickup - Weekday (Monday = 1)
12                   Arrival at Pickup - Time  Time of day the the rider arrived at the locat...
13                      Pickup - Day of Month                     Pickup - Day of Month i.e 1-31
14                  Pickup - Weekday (Mo = 1)                      Pickup - Weekday (Monday = 1)
15                              Pickup - Time  Pickup - Time - Time of day the the rider pick...
16      Arrival at Destination - Day of Month        Arrival at Delivery - Day of Month i.e 1-31
17  Arrival at Destination - Weekday (Mo = 1)         Arrival at Delivery - Weekday (Monday = 1)
18              Arrival at Destination - Time  Arrival at Delivery Time - Time of day the rid...
19                              Distance (KM)            The distance from Pickup to Destination
20                                Temperature  Temperature at the time of order placement in ...
21               Precipitation in millimeters   Precipitation at the time of order placement ...
22                                 Pickup Lat                       Latitude of pick up location
23                                Pickup Long                      Longitude of pick up location
24                            Destination Lat                      Latitude of delivery location
25                           Destination Long                     Longitude of delivery location
26                                   Rider Id             ID of the Rider who accepted the order
27                Time from Pickup to Arrival  Time in seconds between 'Pickup' and 'Arrival ...
28                                        NaN                                                NaN
29                              Rider Metrics                                                NaN
30                                   Rider Id  Unique number identifying the rider (same as i...
31                               No_Of_Orders           Number of Orders the rider has delivered
32                                        Age  Number of days since the rider delivered the f...
33                             Average_Rating                        Average rating of the rider
34                              No_of_Ratings   Number of ratings the rider has received. Rat...

**Sample Submission**

In [4]:
SampleSubmission.head(1)

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0

In [5]:
riders.head(1)

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159

In [6]:
Train_df.head(1)

        Order No      User Id  ...      Rider Id  Time from Pickup to Arrival
0  Order_No_4211  User_Id_633  ...  Rider_Id_432                          745

[1 rows x 29 columns]

In [7]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  object
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(12), object(11)
memory usage: 4.7+ MB

In [8]:
#Train_df = Train_df.drop(['Precipitation in millimeters'], axis= 1)
#Test_df = Test_df.drop(['Precipitation in millimeters'], axis= 1)

# Joining Tables

In [9]:
Train_df = Train_df.merge(riders, on='Rider Id', how='left')
Test_df = Test_df.merge(riders, on='Rider Id', how='left')

# **Data Cleaning**

**Checking for Duplicates**

In [10]:
#No duplicate Data On Test Data
def Check_duplicates(df):
  duplicates = df.duplicated(subset = ['Order No'], keep = False)
  return df[duplicates]

In [11]:
#No duplicates 
Train_duplicates = Check_duplicates(Train_df)
Test_duplucates = Check_duplicates(Test_df)

**Changing into int data types

In [12]:
Train_df['Platform Type'] = Train_df['Platform Type'].astype('object')
Test_df['Platform Type'] = Test_df['Platform Type'].astype('object')       
Train_df['Placement - Day of Month'] = Train_df['Placement - Day of Month'].astype('int')
Test_df['Placement - Day of Month'] = Test_df['Placement - Day of Month'].astype('int')

**Dropping columns not in test Data**

In [13]:
def columnDrop(df,columns):
  df.drop(columns, axis=1,inplace=True)
  #df.set_index(['Order No'], inplace= True)
  return df

In [14]:
Drop_Train_Cols = ['Precipitation in millimeters', 'Arrival at Destination - Day of Month', 
                   'Arrival at Destination - Weekday (Mo = 1)', 'Arrival at Destination - Time']
Drop_Test_Cols =  ['Precipitation in millimeters']    
Test_df = columnDrop(Test_df,Drop_Test_Cols)
Train_df = columnDrop(Train_df,Drop_Train_Cols)

**Seperating Time**

In [15]:
def timeconvert(df,Time):
    df[Time] = df[Time].astype('datetime64')
    return df

In [16]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time']
Train_df = timeconvert(Train_df,Time_columns)
Test_df = timeconvert(Test_df,Time_columns)

In [17]:
def SplitDatetime(df,columns):
  for item in columns:
    #df[item+'_day'] = pd.to_datetime(df[item]).dt.day
    df[item+'_hour'] = pd.to_datetime(df[item]).dt.hour
    df[item+'_minutes'] = pd.to_datetime(df[item]).dt.minute
    df[item+'_seconds'] = pd.to_datetime(df[item]).dt.second
  df.drop(columns,axis=1, inplace = True)
  return df

In [18]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time']
Train_df = SplitDatetime(Train_df,Time_columns)
Test_df = SplitDatetime(Test_df,Time_columns)

In [19]:
Train_df.head(1)

        Order No      User Id  ... Pickup - Time_minutes Pickup - Time_seconds
0  Order_No_4211  User_Id_633  ...                    27                    30

[1 rows x 37 columns]

**Taking Care of missing Data

In [20]:
from sklearn.impute import SimpleImputer

def missingData(df,columns):
  imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
  imputer.fit(df[columns])
  df[columns] = imputer.transform(df[columns])
  return df

In [21]:
columns = ['Temperature']
Test_df = missingData(Test_df,columns)
Train_df = missingData(Train_df,columns)

In [22]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Order No                              21201 non-null  object
 1   User Id                               21201 non-null  object
 2   Vehicle Type                          21201 non-null  object
 3   Platform Type                         21201 non-null  object
 4   Personal or Business                  21201 non-null  object
 5   Placement - Day of Month              21201 non-null  int64
 6   Placement - Weekday (Mo = 1)          21201 non-null  int64
 7   Confirmation - Day of Month           21201 non-null  int64
 8   Confirmation - Weekday (Mo = 1)       21201 non-null  int64
 9   Arrival at Pickup - Day of Month      21201 non-null  int64
 10  Arrival at Pickup - Weekday (Mo = 1)  21201 non-null  int64
 11  Pickup - Day of Month                 21201 non-null  int64
 12  Pickup - Weekday (Mo = 1)             21201 non-null  int64
 13  Distance (KM)                         21201 non-null  int64
 14  Temperature                           21201 non-null  float64
 15  Pickup Lat                            21201 non-null  float64
 16  Pickup Long                           21201 non-null  float64
 17  Destination Lat                       21201 non-null  float64
 18  Destination Long                      21201 non-null  float64
 19  Rider Id                              21201 non-null  object
 20  Time from Pickup to Arrival           21201 non-null  int64
 21  No_Of_Orders                          21201 non-null  int64
 22  Age                                   21201 non-null  int64
 23  Average_Rating                        21201 non-null  float64
 24  No_of_Ratings                         21201 non-null  int64
 25  Placement - Time_hour                 21201 non-null  int64
 26  Placement - Time_minutes              21201 non-null  int64
 27  Placement - Time_seconds              21201 non-null  int64
 28  Confirmation - Time_hour              21201 non-null  int64
 29  Confirmation - Time_minutes           21201 non-null  int64
 30  Confirmation - Time_seconds           21201 non-null  int64
 31  Arrival at Pickup - Time_hour         21201 non-null  int64
 32  Arrival at Pickup - Time_minutes      21201 non-null  int64
 33  Arrival at Pickup - Time_seconds      21201 non-null  int64
 34  Pickup - Time_hour                    21201 non-null  int64
 35  Pickup - Time_minutes                 21201 non-null  int64
 36  Pickup - Time_seconds                 21201 non-null  int64
dtypes: float64(6), int64(25), object(6)
memory usage: 6.1+ MB

# **Feature Engineering**

**Get Dummy Variables**

In [23]:
def dummy_encoder(df, cols):
  dummies = pd.get_dummies(df,columns= cols,drop_first = True)
  merged = pd.concat([df,dummies],axis='columns')
  final = merged.drop(cols, axis = 1)
  return dummies

In [24]:
cols = ['Platform Type','Personal or Business', 'Placement - Weekday (Mo = 1)',
        'Confirmation - Weekday (Mo = 1)','Pickup - Weekday (Mo = 1)','Rider Id','Vehicle Type','User Id']
Train_df = dummy_encoder(Train_df, cols)
Test_df = dummy_encoder(Test_df, cols)
Test_df.head(1)

         Order No  ...  User Id_User_Id_996
0  Order_No_19248  ...                    0

[1 rows x 2487 columns]

In [25]:
Train_df.head(1)

        Order No  ...  User Id_User_Id_999
0  Order_No_4211  ...                    0

[1 rows x 4159 columns]

**Variable Selection by Correlation and Significance**

In [26]:
Train = Train_df.drop(['Order No'],axis=1)

In [ ]:
# Calculate correlations between predictor variables and the response variable
corrs = Train.corr()['Time from Pickup to Arrival'].sort_values(ascending=False)

In [ ]:
from scipy.stats import pearsonr

# Build a dictionary of correlation coefficients and p-values
dict_cp = {}

column_titles = [col for col in corrs.index if col!= 'Time from Pickup to Arrival']
for col in column_titles:
    p_val = round(pearsonr(Train[col], Train['Time from Pickup to Arrival'])[1],6)
    dict_cp[col] = {'Correlation_Coefficient':corrs[col],
                    'P_Value':p_val}

df_cp = pd.DataFrame(dict_cp).T
df_cp_sorted = df_cp.sort_values('P_Value')
df_cp_sorted[df_cp_sorted['P_Value']<0.1]

In [ ]:
# The dependent variable remains the same:
y_data = Train['Time from Pickup to Arrival']  # y_name = 'Loan_Size'

# Model building - Independent Variable (IV) DataFrame
X_names = list(df_cp[df_cp['P_Value'] < 0.05].index)
X_data = Train[X_names]

In [ ]:
X_data.head()

In [ ]:
# Create the correlation matrix
corr = X_data.corr()

# Find rows and columnd where correlation coefficients > 0.9 or <-0.9
corr[np.abs(corr) > 0.9]

In [ ]:
# As before, we create the correlation matrix
# and find rows and columnd where correlation coefficients > 0.9 or <-0.9
corr = X_data.corr()
r, c = np.where(np.abs(corr) > 0.9)

# We are only interested in the off diagonal entries:
off_diagonal = np.where(r != c)

# Show the correlation matrix rows and columns where we have highly correlated off diagonal entries:
corr.iloc[r[off_diagonal], c[off_diagonal]]