<a href="https://colab.research.google.com/github/MathewNhari/Sendy-Logistics-Challenge/blob/master/Sendy_Logistics_Hackerthon_792_Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#Import Data

In [2]:
riders = pd.read_csv('Riders.csv')
SampleSubmission = pd.read_csv('SampleSubmission.csv')
Test_df = pd.read_csv('Test.csv')
Train_df = pd.read_csv('Train.csv', parse_dates= ['Placement - Day of Month'])
VariableDefinitions = pd.read_csv('VariableDefinitions.csv')

In [3]:
VariableDefinitions

                                     Order No                Unique number identifying the order
0                                     User Id  Unique number identifying the customer on a pl...
1                                Vehicle Type  For this competition limited to bikes, however...
2                               Platform Type  Platform used to place the order, there are 4 ...
3                        Personal or Business                                      Customer type
4                    Placement - Day of Month                  Placement - Day of Month i.e 1-31
5                Placement - Weekday (Mo = 1)                   Placement - Weekday (Monday = 1)
6                            Placement - Time  Placement - Time - Time of day the order was p...
7                 Confirmation - Day of Month               Confirmation - Day of Month i.e 1-31
8             Confirmation - Weekday (Mo = 1)                Confirmation - Weekday (Monday = 1)
9                         Confirmation - Time  Confirmation - Time - Time of day the order wa...
10           Arrival at Pickup - Day of Month          Arrival at Pickup - Day of Month i.e 1-31
11       Arrival at Pickup - Weekday (Mo = 1)           Arrival at Pickup - Weekday (Monday = 1)
12                   Arrival at Pickup - Time  Time of day the the rider arrived at the locat...
13                      Pickup - Day of Month                     Pickup - Day of Month i.e 1-31
14                  Pickup - Weekday (Mo = 1)                      Pickup - Weekday (Monday = 1)
15                              Pickup - Time  Pickup - Time - Time of day the the rider pick...
16      Arrival at Destination - Day of Month        Arrival at Delivery - Day of Month i.e 1-31
17  Arrival at Destination - Weekday (Mo = 1)         Arrival at Delivery - Weekday (Monday = 1)
18              Arrival at Destination - Time  Arrival at Delivery Time - Time of day the rid...
19                              Distance (KM)            The distance from Pickup to Destination
20                                Temperature  Temperature at the time of order placement in ...
21               Precipitation in millimeters   Precipitation at the time of order placement ...
22                                 Pickup Lat                       Latitude of pick up location
23                                Pickup Long                      Longitude of pick up location
24                            Destination Lat                      Latitude of delivery location
25                           Destination Long                     Longitude of delivery location
26                                   Rider Id             ID of the Rider who accepted the order
27                Time from Pickup to Arrival  Time in seconds between 'Pickup' and 'Arrival ...
28                                        NaN                                                NaN
29                              Rider Metrics                                                NaN
30                                   Rider Id  Unique number identifying the rider (same as i...
31                               No_Of_Orders           Number of Orders the rider has delivered
32                                        Age  Number of days since the rider delivered the f...
33                             Average_Rating                        Average rating of the rider
34                              No_of_Ratings   Number of ratings the rider has received. Rat...

**Sample Submission**

In [4]:
SampleSubmission.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

 **Data**

In [5]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [6]:
riders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rider Id        960 non-null    object
 1   No_Of_Orders    960 non-null    int64
 2   Age             960 non-null    int64
 3   Average_Rating  960 non-null    float64
 4   No_of_Ratings   960 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 37.6+ KB

In [7]:
Train_df.head(3)

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455

[3 rows x 29 columns]

In [8]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  object
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(12), object(11)
memory usage: 4.7+ MB

In [9]:
len(Train_df['User Id'].unique())

3186

**Joining the Test_df and Train_df to riders**

In [10]:
Test_df = Test_df.merge(riders,on='Rider Id',how='inner')
Train_df = Train_df.merge(riders,on='Rider Id',how='inner')

In [11]:
Train_df.head(1)

        Order No      User Id Vehicle Type  ...   Age Average_Rating No_of_Ratings
0  Order_No_4211  User_Id_633         Bike  ...  1309           13.8           549

[1 rows x 33 columns]

In [12]:
assert Train_df['Pickup - Day of Month'].all() == Train_df['Arrival at Destination - Day of Month'].all(), "Not True"

In [13]:
#No duplicate Data On Test Data
def Check_duplicates(df):
  duplicates = df.duplicated(subset = ['Order No'], keep = False)
  return df[duplicates]

In [14]:
#No duplicates 
Train_duplicates = Check_duplicates(Train_df)
Test_duplucates = Check_duplicates(Test_df)

In [15]:
Train_duplicates

Empty DataFrame
Columns: [Order No, User Id, Vehicle Type, Platform Type, Personal or Business, Placement - Day of Month, Placement - Weekday (Mo = 1), Placement - Time, Confirmation - Day of Month, Confirmation - Weekday (Mo = 1), Confirmation - Time, Arrival at Pickup - Day of Month, Arrival at Pickup - Weekday (Mo = 1), Arrival at Pickup - Time, Pickup - Day of Month, Pickup - Weekday (Mo = 1), Pickup - Time, Arrival at Destination - Day of Month, Arrival at Destination - Weekday (Mo = 1), Arrival at Destination - Time, Distance (KM), Temperature, Precipitation in millimeters, Pickup Lat, Pickup Long, Destination Lat, Destination Long, Rider Id, Time from Pickup to Arrival, No_Of_Orders, Age, Average_Rating, No_of_Ratings]
Index: []

In [16]:
def columnDrop(df,columns):
  df.drop(columns, axis=1,inplace=True)
  df.set_index(['Order No'], inplace= True)
  return df

In [17]:
Drop_Train_Cols = ['Vehicle Type', 'Precipitation in millimeters','Arrival at Destination - Day of Month',
                   'Arrival at Destination - Weekday (Mo = 1)','Arrival at Destination - Time','User Id','Placement - Day of Month',
                   'Placement - Weekday (Mo = 1)','Confirmation - Day of Month','Confirmation - Weekday (Mo = 1)',
                   'Arrival at Pickup - Weekday (Mo = 1)']

Drop_Test_Cols = ['Vehicle Type', 'Precipitation in millimeters','User Id','Placement - Day of Month','Confirmation - Day of Month',
                  'Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Weekday (Mo = 1)']
       
Test_df= columnDrop(Test_df,Drop_Test_Cols)
Train_df = columnDrop(Train_df,Drop_Train_Cols)

In [18]:
Train_df.head()

                Platform Type  ... No_of_Ratings
Order No                       ...
Order_No_4211               3  ...           549
Order_No_27440              3  ...           549
Order_No_14170              3  ...           549
Order_No_21727              3  ...           549
Order_No_8301               2  ...           549

[5 rows x 21 columns]

In [19]:
#Train_df['Placement - Day of Month'] = Train_df['Placement - Day of Month'].astype('int')
#Test_df['Placement - Day of Month'] = Test_df['Placement - Day of Month'].astype('int')

In [20]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21201 entries, Order_No_4211 to Order_No_15578
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Platform Type                     21201 non-null  int64
 1   Personal or Business              21201 non-null  object
 2   Placement - Time                  21201 non-null  object
 3   Confirmation - Time               21201 non-null  object
 4   Arrival at Pickup - Day of Month  21201 non-null  int64
 5   Arrival at Pickup - Time          21201 non-null  object
 6   Pickup - Day of Month             21201 non-null  int64
 7   Pickup - Weekday (Mo = 1)         21201 non-null  int64
 8   Pickup - Time                     21201 non-null  object
 9   Distance (KM)                     21201 non-null  int64
 10  Temperature                       16835 non-null  float64
 11  Pickup Lat                        21201 non-null  float64
 12  Pickup Long                       21201 non-null  float64
 13  Destination Lat                   21201 non-null  float64
 14  Destination Long                  21201 non-null  float64
 15  Rider Id                          21201 non-null  object
 16  Time from Pickup to Arrival       21201 non-null  int64
 17  No_Of_Orders                      21201 non-null  int64
 18  Age                               21201 non-null  int64
 19  Average_Rating                    21201 non-null  float64
 20  No_of_Ratings                     21201 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.6+ MB

In [21]:
  def timeconvert(df,Time):
    df[Time] = df[Time].astype('datetime64')
    return df

In [22]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time']
Train_df = timeconvert(Train_df,Time_columns)
Test_df = timeconvert(Test_df,Time_columns)

In [23]:
Train_df.head(2)

                Platform Type  ... No_of_Ratings
Order No                       ...
Order_No_4211               3  ...           549
Order_No_27440              3  ...           549

[2 rows x 21 columns]

**Setting Time columns into datetime Data type**

In [24]:
def splitDatetime(df,columns):
  for item in columns:
    #df[item+'_day'] = pd.to_datetime(df[item]).dt.day
    df[item+'_hour'] = pd.to_datetime(df[item]).dt.hour
    df[item+'_minutes'] = pd.to_datetime(df[item]).dt.minute
    df[item+'_seconds'] = pd.to_datetime(df[item]).dt.second
  df.drop(columns,axis=1, inplace = True)
  return df

In [25]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time']
Train_df = splitDatetime(Train_df,Time_columns)
Test_df = splitDatetime(Test_df,Time_columns)

In [26]:
Train_df.head(2)

                Platform Type  ... Pickup - Time_seconds
Order No                       ...
Order_No_4211               3  ...                    30
Order_No_27440              3  ...                    37

[2 rows x 29 columns]

In [27]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21201 entries, Order_No_4211 to Order_No_15578
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Platform Type                     21201 non-null  int64
 1   Personal or Business              21201 non-null  object
 2   Arrival at Pickup - Day of Month  21201 non-null  int64
 3   Pickup - Day of Month             21201 non-null  int64
 4   Pickup - Weekday (Mo = 1)         21201 non-null  int64
 5   Distance (KM)                     21201 non-null  int64
 6   Temperature                       16835 non-null  float64
 7   Pickup Lat                        21201 non-null  float64
 8   Pickup Long                       21201 non-null  float64
 9   Destination Lat                   21201 non-null  float64
 10  Destination Long                  21201 non-null  float64
 11  Rider Id                          21201 non-null  object
 12  Time from Pickup to Arrival       21201 non-null  int64
 13  No_Of_Orders                      21201 non-null  int64
 14  Age                               21201 non-null  int64
 15  Average_Rating                    21201 non-null  float64
 16  No_of_Ratings                     21201 non-null  int64
 17  Placement - Time_hour             21201 non-null  int64
 18  Placement - Time_minutes          21201 non-null  int64
 19  Placement - Time_seconds          21201 non-null  int64
 20  Confirmation - Time_hour          21201 non-null  int64
 21  Confirmation - Time_minutes       21201 non-null  int64
 22  Confirmation - Time_seconds       21201 non-null  int64
 23  Arrival at Pickup - Time_hour     21201 non-null  int64
 24  Arrival at Pickup - Time_minutes  21201 non-null  int64
 25  Arrival at Pickup - Time_seconds  21201 non-null  int64
 26  Pickup - Time_hour                21201 non-null  int64
 27  Pickup - Time_minutes             21201 non-null  int64
 28  Pickup - Time_seconds             21201 non-null  int64
dtypes: float64(6), int64(21), object(2)
memory usage: 4.9+ MB

**Taking Care of Missing Data**

In [28]:
from sklearn.impute import SimpleImputer

def missingData(df,columns):
  imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
  imputer.fit(df[columns])
  df[columns] = imputer.transform(df[columns])
  return df

In [29]:
columns = ['Temperature']
Test_df = missingData(Test_df,columns)
Train_df = missingData(Train_df,columns)

In [30]:
Train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21201 entries, Order_No_4211 to Order_No_15578
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Platform Type                     21201 non-null  int64
 1   Personal or Business              21201 non-null  object
 2   Arrival at Pickup - Day of Month  21201 non-null  int64
 3   Pickup - Day of Month             21201 non-null  int64
 4   Pickup - Weekday (Mo = 1)         21201 non-null  int64
 5   Distance (KM)                     21201 non-null  int64
 6   Temperature                       21201 non-null  float64
 7   Pickup Lat                        21201 non-null  float64
 8   Pickup Long                       21201 non-null  float64
 9   Destination Lat                   21201 non-null  float64
 10  Destination Long                  21201 non-null  float64
 11  Rider Id                          21201 non-null  object
 12  Time from Pickup to Arrival       21201 non-null  int64
 13  No_Of_Orders                      21201 non-null  int64
 14  Age                               21201 non-null  int64
 15  Average_Rating                    21201 non-null  float64
 16  No_of_Ratings                     21201 non-null  int64
 17  Placement - Time_hour             21201 non-null  int64
 18  Placement - Time_minutes          21201 non-null  int64
 19  Placement - Time_seconds          21201 non-null  int64
 20  Confirmation - Time_hour          21201 non-null  int64
 21  Confirmation - Time_minutes       21201 non-null  int64
 22  Confirmation - Time_seconds       21201 non-null  int64
 23  Arrival at Pickup - Time_hour     21201 non-null  int64
 24  Arrival at Pickup - Time_minutes  21201 non-null  int64
 25  Arrival at Pickup - Time_seconds  21201 non-null  int64
 26  Pickup - Time_hour                21201 non-null  int64
 27  Pickup - Time_minutes             21201 non-null  int64
 28  Pickup - Time_seconds             21201 non-null  int64
dtypes: float64(6), int64(21), object(2)
memory usage: 4.9+ MB

**Get dummy Variables**

In [31]:
def dummy_encoder(df, cols):
  dummies = pd.get_dummies(df,columns= cols,drop_first = True)
  merged = pd.concat([df,dummies],axis='columns')
  final = merged.drop(cols, axis = 1)
  return dummies

In [32]:
cols = ['Platform Type','Personal or Business','Rider Id']
Train_df = dummy_encoder(Train_df, cols)
Test_df = dummy_encoder(Test_df, cols)
Test_df.head(1)

                Placement - Weekday (Mo = 1)  ...  Rider Id_Rider_Id_99
Order No                                      ...
Order_No_19248                             3  ...                     0

[1 rows x 851 columns]

In [33]:
#Getting our Training Data into Features and Response variables

In [34]:
def XyFeatures(df):
  X = df.drop(['Time from Pickup to Arrival'], axis=1)
  y = df[['Time from Pickup to Arrival']]
  return (X,y)

In [35]:
X = XyFeatures(Train_df)[0]
y = XyFeatures(Train_df)[1]

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21201 entries, Order_No_4211 to Order_No_15578
Columns: 952 entries, Arrival at Pickup - Day of Month to Rider Id_Rider_Id_99
dtypes: float64(6), int64(19), uint8(927)
memory usage: 22.9+ MB

**Spliting Data into Training and Test Set**

In [37]:
# import train/test split module
from sklearn.model_selection import train_test_split

In [38]:
# split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.20,
                                                    random_state=1)

#Building Lasso Model

In [39]:
# import LASSO module
from sklearn.linear_model import Lasso

In [40]:
# create LASSO model object, setting alpha to 0.01
lasso = Lasso(alpha=0.01)
# train the LASSO model
lasso.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4374064787.932671, tolerance: 1628236.6795614152
  positive)

Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [41]:
coeff = pd.DataFrame(lasso.coef_, X.columns, columns=['Coefficient'])

In [42]:
coeff.tail(40)

                       Coefficient
Rider Id_Rider_Id_925   218.542231
Rider Id_Rider_Id_926   157.982255
Rider Id_Rider_Id_927  -848.932542
Rider Id_Rider_Id_928   606.228579
Rider Id_Rider_Id_929   422.696965
Rider Id_Rider_Id_93      0.000000
Rider Id_Rider_Id_930   122.491969
Rider Id_Rider_Id_931    -3.271096
Rider Id_Rider_Id_932  -274.532516
Rider Id_Rider_Id_933    10.565044
Rider Id_Rider_Id_934   756.562472
Rider Id_Rider_Id_935   286.030125
Rider Id_Rider_Id_936   257.430977
Rider Id_Rider_Id_937   109.689210
Rider Id_Rider_Id_938   368.606912
Rider Id_Rider_Id_939   454.557309
Rider Id_Rider_Id_94      0.000000
Rider Id_Rider_Id_940  -486.978087
Rider Id_Rider_Id_941  -484.208602
Rider Id_Rider_Id_942   400.065374
Rider Id_Rider_Id_943  -386.658151
Rider Id_Rider_Id_944    -0.000000
Rider Id_Rider_Id_946  -177.954726
Rider Id_Rider_Id_947 -1931.553291
Rider Id_Rider_Id_948   439.663327
Rider Id_Rider_Id_949   509.896628
Rider Id_Rider_Id_95     67.275595
Rider Id_Rider_Id_950  -144.126871
Rider Id_Rider_Id_951    -0.000000
Rider Id_Rider_Id_952   -85.212098
Rider Id_Rider_Id_953  -259.646345
Rider Id_Rider_Id_954    54.214366
Rider Id_Rider_Id_955  -352.501519
Rider Id_Rider_Id_956   255.030328
Rider Id_Rider_Id_958   -68.096309
Rider Id_Rider_Id_959    24.824122
Rider Id_Rider_Id_96   -212.514970
Rider Id_Rider_Id_97   -541.143409
Rider Id_Rider_Id_98     -0.000000
Rider Id_Rider_Id_99    102.455001

In [43]:
def subset(df):
  sub = Train_df.drop(coeff[coeff==0].index,axis = 1)
  return sub

In [44]:
X_train_subset = subset(X)
X_test_subset = subset(Test_df)

In [45]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_train_subset,
                                                        y,
                                                        test_size=0.20,
                                                        random_state=1,
                                                        shuffle=False)

In [46]:
from sklearn.linear_model import LinearRegression, Ridge

In [47]:
subset_regressor = LinearRegression()
regressor = LinearRegression()
ridge = Ridge()

subset_regressor.fit(X_train2, y_train2)
regressor.fit(X_train, y_train)
ridge.fit(X_train, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [48]:
subset_y_pred = subset_regressor.predict(X_test2)

lasso_y_pred = lasso.predict(X_test)
ridge_y_pred = ridge.predict(X_test)
regressor_y_pred = regressor.predict(X_test)

In [49]:
from sklearn.metrics import mean_squared_error
lasso_rmse = mean_squared_error(y_test, lasso_y_pred, squared= False)

In [50]:
lasso_rmse

797.3297295115548

In [51]:
lasso_rmse = mean_squared_error(y_test, lasso_y_pred, squared= False)
regressor_rmse = mean_squared_error(y_test, regressor_y_pred, squared= False)
subset_rmse = mean_squared_error(y_test, regressor_y_pred, squared= False)
ridge_rmse = mean_squared_error(y_test, ridge_y_pred, squared= False)

In [52]:
regressor_rmse

12073426592.029665

In [53]:
subset_rmse

12073426592.029665

In [54]:
ridge_rmse

792.2109827431813