<a href="https://colab.research.google.com/github/MathewNhari/Sendy-Logistics-Challenge/blob/master/Sendy_Logistics_Challenge_SVR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libaries**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Import Data

In [ ]:

riders = pd.read_csv('Riders.csv')
SampleSubmission = pd.read_csv('SampleSubmission.csv')
Test_df = pd.read_csv('Test.csv')
Train_df = pd.read_csv('Train.csv', parse_dates= ['Placement - Day of Month'])
VariableDefinitions = pd.read_csv('VariableDefinitions.csv')

**Variable Definations**

In [ ]:
VariableDefinitions

                                     Order No                Unique number identifying the order
0                                     User Id  Unique number identifying the customer on a pl...
1                                Vehicle Type  For this competition limited to bikes, however...
2                               Platform Type  Platform used to place the order, there are 4 ...
3                        Personal or Business                                      Customer type
4                    Placement - Day of Month                  Placement - Day of Month i.e 1-31
5                Placement - Weekday (Mo = 1)                   Placement - Weekday (Monday = 1)
6                            Placement - Time  Placement - Time - Time of day the order was p...
7                 Confirmation - Day of Month               Confirmation - Day of Month i.e 1-31
8             Confirmation - Weekday (Mo = 1)                Confirmation - Weekday (Monday = 1)
9                         Confirmation - Time  Confirmation - Time - Time of day the order wa...
10           Arrival at Pickup - Day of Month          Arrival at Pickup - Day of Month i.e 1-31
11       Arrival at Pickup - Weekday (Mo = 1)           Arrival at Pickup - Weekday (Monday = 1)
12                   Arrival at Pickup - Time  Time of day the the rider arrived at the locat...
13                      Pickup - Day of Month                     Pickup - Day of Month i.e 1-31
14                  Pickup - Weekday (Mo = 1)                      Pickup - Weekday (Monday = 1)
15                              Pickup - Time  Pickup - Time - Time of day the the rider pick...
16      Arrival at Destination - Day of Month        Arrival at Delivery - Day of Month i.e 1-31
17  Arrival at Destination - Weekday (Mo = 1)         Arrival at Delivery - Weekday (Monday = 1)
18              Arrival at Destination - Time  Arrival at Delivery Time - Time of day the rid...
19                              Distance (KM)            The distance from Pickup to Destination
20                                Temperature  Temperature at the time of order placement in ...
21               Precipitation in millimeters   Precipitation at the time of order placement ...
22                                 Pickup Lat                       Latitude of pick up location
23                                Pickup Long                      Longitude of pick up location
24                            Destination Lat                      Latitude of delivery location
25                           Destination Long                     Longitude of delivery location
26                                   Rider Id             ID of the Rider who accepted the order
27                Time from Pickup to Arrival  Time in seconds between 'Pickup' and 'Arrival ...
28                                        NaN                                                NaN
29                              Rider Metrics                                                NaN
30                                   Rider Id  Unique number identifying the rider (same as i...
31                               No_Of_Orders           Number of Orders the rider has delivered
32                                        Age  Number of days since the rider delivered the f...
33                             Average_Rating                        Average rating of the rider
34                              No_of_Ratings   Number of ratings the rider has received. Rat...

**Sample Submission**

In [ ]:
SampleSubmission.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

**Data**

In [ ]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [ ]:
Test_df.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

Joining the Test_df and Train_df to riders

In [ ]:
Test = Test_df.merge(riders,on='Rider Id',how='inner')
Train = Train_df.merge(riders,on='Rider Id',how='inner')

In [ ]:
Train.head()

         Order No       User Id  ... Average_Rating  No_of_Ratings
0   Order_No_4211   User_Id_633  ...           13.8            549
1  Order_No_27440  User_Id_2642  ...           13.8            549
2  Order_No_14170  User_Id_3339  ...           13.8            549
3  Order_No_21727  User_Id_3523  ...           13.8            549
4   Order_No_8301    User_Id_87  ...           13.8            549

[5 rows x 33 columns]

In [ ]:
#if no output is returned, the columns are equal otherwise returns 'Not True' as Assertion Error.
#input the column names manually
#checking if months columns are equal then checking the weekdays
assert Train['Pickup - Day of Month'].all() == Train['Arrival at Destination - Day of Month'].all(), "Not True"

In [ ]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  object
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
 29  No_Of_Orders                               21201 non-null  int64
 30  Age                                        21201 non-null  int64
 31  Average_Rating                             21201 non-null  float64
 32  No_of_Ratings                              21201 non-null  int64
dtypes: float64(7), int64(15), object(11)
memory usage: 5.5+ MB

# **Cleaning Data**

Checking for Duplicates

In [ ]:
#No duplicate Data On Test Data
def Check_duplicates(df):
  duplicates = df.duplicated(subset = ['Order No'], keep = False)
  return df[duplicates]

Checking Duplicates on Train Data

In [ ]:
#No duplicates 
Train_duplicates = Check_duplicates(Train)
Test_duplucates = Check_duplicates(Test)

Drop Columns

In [ ]:
def columnDrop(df,columns):
  df.drop(columns, axis=1,inplace=True)
  df.set_index(['Order No'], inplace= True)
  return df

In [ ]:
Drop_Train_Cols = ['Vehicle Type', 'User Id', 'Rider Id', 'Precipitation in millimeters','Arrival at Destination - Time']

Drop_Test_Cols = ['Vehicle Type', 'User Id', 'Rider Id','Precipitation in millimeters']
       
Test= columnDrop(Test,Drop_Test_Cols)
Train = columnDrop(Train,Drop_Train_Cols)

**Changing  into The Correct DataType**

In [ ]:
 category_cols = ['Platform Type', 'Pickup - Weekday (Mo = 1)', 'Personal or Business']
       
Train[category_cols] = Train[category_cols].astype('category')
Test[category_cols] = Test[category_cols].astype('category')

In [ ]:
  def timeconvert(df,Time):
    df[Time] = df[Time].astype('datetime64')
    return df

In [ ]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time']
Train = timeconvert(Train,Time_columns)
Test = timeconvert(Test,Time_columns)

Setting Time columns into datetime Data type

In [ ]:
def SplitDatetime(df,columns):
  for item in columns:
    df[item+'_day'] = pd.to_datetime(df[item]).dt.day
    df[item+'_hour'] = pd.to_datetime(df[item]).dt.hour
    df[item+'_minutes'] = pd.to_datetime(df[item]).dt.minute
    df[item+'_seconds'] = pd.to_datetime(df[item]).dt.second
  df.drop(columns,axis=1, inplace = True)
  return df

In [ ]:
Time_columns = ['Placement - Time', 'Confirmation - Time',
                'Arrival at Pickup - Time','Pickup - Time']
Train = SplitDatetime(Train,Time_columns)
Test = SplitDatetime(Test,Time_columns)

In [ ]:
Train.head(2)

               Platform Type  ... Pickup - Time_seconds
Order No                      ...
Order_No_4211              3  ...                    30
Order_No_27440             3  ...                    37

[2 rows x 39 columns]

In [ ]:
Test.head()

               Platform Type  ... Pickup - Time_seconds
Order No                      ...
Order_No_19248             3  ...                    47
Order_No_2699              1  ...                    48
Order_No_21486             3  ...                    54
Order_No_19336             3  ...                    31
Order_No_20374             3  ...                    49

[5 rows x 36 columns]

**Taking Care of Missing Data**

In [ ]:
from sklearn.impute import SimpleImputer

def missingData(df,columns):
  imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
  imputer.fit(df[columns])
  df[columns] = imputer.transform(df[columns])
  return df

In [ ]:
columns = ['Temperature']
Test = missingData(Test,columns)
Train = missingData(Train,columns)

**Get dummy Variables**

In [ ]:
def dummy_encoder(df, cols):
  dummies = pd.get_dummies(df,columns= cols,drop_first = True)
  merged = pd.concat([df,dummies],axis='columns')
  final = merged.drop(cols, axis = 1)
  return dummies

In [ ]:
cols = ['Platform Type','Personal or Business', 'Pickup - Weekday (Mo = 1)']
Train = dummy_encoder(Train, cols)
Test = dummy_encoder(Test, cols)
Test.head(1)

                Placement - Day of Month  ...  Pickup - Weekday (Mo = 1)_7
Order No                                  ...
Order_No_19248                        27  ...                            0

[1 rows x 43 columns]

In [ ]:
Train.head()

               Placement - Day of Month  ...  Pickup - Weekday (Mo = 1)_7
Order No                                 ...
Order_No_4211                         9  ...                            0
Order_No_27440                       18  ...                            0
Order_No_14170                       31  ...                            0
Order_No_21727                        2  ...                            0
Order_No_8301                        22  ...                            0

[5 rows x 46 columns]

#Preprocessing

**Getting our Training Data into Features and Response variables**

In [ ]:
def XyFeatures(df):
  X = df.drop(['Time from Pickup to Arrival'], axis=1)
  y = df[['Time from Pickup to Arrival']]
  return (X,y)

In [ ]:
X = XyFeatures(Train)[0]
y = XyFeatures(Train)[1]

Spliting Data into Training and Test Set

In [ ]:
# import train/test split module
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler_X = StandardScaler()
scaler_y = StandardScaler()

In [ ]:
columns = ['Distance (KM)', 'Temperature', 'Pickup Lat','Pickup Long','Destination Lat','Destination Long','No_Of_Orders',
           'Age', 'Average_Rating', 'No_of_Ratings']
X[columns] = scaler_X.fit_transform(X[columns])
y = scaler_y.fit_transform(y)

In [ ]:
X.head(1)

              Placement - Day of Month  ...  Pickup - Weekday (Mo = 1)_7
Order No                                ...
Order_No_4211                        9  ...                            0

[1 rows x 45 columns]

In [ ]:
# split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.20,
                                                    random_state=1)

In [ ]:
def subset(df):
  X_subset = df.drop(['Placement - Time_day', 'Confirmation - Time_day','Arrival at Pickup - Time_day',
                    'Pickup - Time_day'], axis=1)
  return X_subset

In [ ]:

X_train_subset = subset(X)
X_test_subset = subset(Test)

In [ ]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_train_subset,
                                                        y,
                                                        test_size=0.20,
                                                        random_state=1,
                                                        shuffle=False)

# Feature Scaling

In [ ]:
##columns = ['Distance (KM)', 'Temperature', 'Pickup Lat','Pickup Long','Destination Lat','Destination Long','No_Of_Orders',
##           'Age', 'Average_Rating', 'No_of_Ratings']
# save standardized features into new variable
##X_train[columns] = scaler_X.fit_transform(X_train[columns])
#y_train = scaler_y.fit_transform(y_train)
##X_test[columns] = scaler_X.fit_transform(X_test[columns])
#y_test = scaler_y.fit_transform(y_test)

In [ ]:
##X_train2[columns] = scaler_X.fit_transform(X_train2[columns])
#y_train2 = scaler_y.fit_transform(y_train2)
##X_test2[columns] = scaler_X.fit_transform(X_test2[columns])
#y_test2 = scaler_y.fit_transform(y_test2)

# Building SVR model

**Traing the Lasso Regression model on the Training Set**

In [ ]:
from sklearn.svm import SVR
sv_reg = SVR(kernel='rbf', gamma='auto')
sv_reg.fit(X_train,y_train)
sub_sv_reg = SVR(kernel='rbf', gamma='auto')
sub_sv_reg.fit(X_train2,y_train2)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
y_pred = scaler_y.inverse_transform(sv_reg.predict(X_test))
sub_y_pred = scaler_y.inverse_transform(sub_sv_reg.predict(X_test2))

In [ ]:
from sklearn.metrics import mean_squared_error
SVR_rmse = mean_squared_error(y_test, y_pred, squared= False)
sub_SVR_rmse = mean_squared_error(y_test2, sub_y_pred, squared= False)

In [ ]:
SVR_rmse

1465.2063911764437

In [ ]:
sub_SVR_rmse

1443.5614650396785