<a href="https://colab.research.google.com/github/MathewNhari/Sendy-Logistics-Challenge/blob/master/Sendy_Logistics_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libaries**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Import Data

In [2]:

riders = pd.read_csv('Riders.csv')
SampleSubmission = pd.read_csv('SampleSubmission.csv')
Test_df = pd.read_csv('Test.csv')
Train_df = pd.read_csv('Train.csv')
VariableDefinitions = pd.read_csv('VariableDefinitions.csv')

**Variable Definations**

In [3]:
VariableDefinitions

                                     Order No                Unique number identifying the order
0                                     User Id  Unique number identifying the customer on a pl...
1                                Vehicle Type  For this competition limited to bikes, however...
2                               Platform Type  Platform used to place the order, there are 4 ...
3                        Personal or Business                                      Customer type
4                    Placement - Day of Month                  Placement - Day of Month i.e 1-31
5                Placement - Weekday (Mo = 1)                   Placement - Weekday (Monday = 1)
6                            Placement - Time  Placement - Time - Time of day the order was p...
7                 Confirmation - Day of Month               Confirmation - Day of Month i.e 1-31
8             Confirmation - Weekday (Mo = 1)                Confirmation - Weekday (Monday = 1)
9                         Confirmation - Time  Confirmation - Time - Time of day the order wa...
10           Arrival at Pickup - Day of Month          Arrival at Pickup - Day of Month i.e 1-31
11       Arrival at Pickup - Weekday (Mo = 1)           Arrival at Pickup - Weekday (Monday = 1)
12                   Arrival at Pickup - Time  Time of day the the rider arrived at the locat...
13                      Pickup - Day of Month                     Pickup - Day of Month i.e 1-31
14                  Pickup - Weekday (Mo = 1)                      Pickup - Weekday (Monday = 1)
15                              Pickup - Time  Pickup - Time - Time of day the the rider pick...
16      Arrival at Destination - Day of Month        Arrival at Delivery - Day of Month i.e 1-31
17  Arrival at Destination - Weekday (Mo = 1)         Arrival at Delivery - Weekday (Monday = 1)
18              Arrival at Destination - Time  Arrival at Delivery Time - Time of day the rid...
19                              Distance (KM)            The distance from Pickup to Destination
20                                Temperature  Temperature at the time of order placement in ...
21               Precipitation in millimeters   Precipitation at the time of order placement ...
22                                 Pickup Lat                       Latitude of pick up location
23                                Pickup Long                      Longitude of pick up location
24                            Destination Lat                      Latitude of delivery location
25                           Destination Long                     Longitude of delivery location
26                                   Rider Id             ID of the Rider who accepted the order
27                Time from Pickup to Arrival  Time in seconds between 'Pickup' and 'Arrival ...
28                                        NaN                                                NaN
29                              Rider Metrics                                                NaN
30                                   Rider Id  Unique number identifying the rider (same as i...
31                               No_Of_Orders           Number of Orders the rider has delivered
32                                        Age  Number of days since the rider delivered the f...
33                             Average_Rating                        Average rating of the rider
34                              No_of_Ratings   Number of ratings the rider has received. Rat...

**Sample Submission**

In [4]:
SampleSubmission.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

**Data**

In [5]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [6]:
Test_df.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [7]:
Train_df.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

Joining the Test_df and Train_df to riders

In [8]:
Test = Test_df.merge(riders,on='Rider Id',how='left')
Train = Train_df.merge(riders,on='Rider Id',how='left')
Train.head()

         Order No       User Id  ... Average_Rating  No_of_Ratings
0   Order_No_4211   User_Id_633  ...           13.8            549
1  Order_No_25375  User_Id_2285  ...           13.6             69
2   Order_No_1899   User_Id_265  ...           12.5            114
3   Order_No_9336  User_Id_1402  ...           14.5            113
4  Order_No_27883  User_Id_1737  ...           14.1            533

[5 rows x 33 columns]

# **Cleaning Data**

In [9]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
 29  No_Of_Orders                               21201 non-null  int64
 30  Age                                        21201 non-null  int64
 31  Average_Rating                             21201 non-null  float64
 32  No_of_Ratings                              21201 non-null  int64
dtypes: float64(7), int64(16), object(10)
memory usage: 5.5+ MB

Checking for Duplicates

In [10]:
#No duplicate Data On Test Data
def Check_duplicates(df):
  duplicates = df.duplicated(subset = ['Order No'], keep = False)
  return df[duplicates]

Checking Duplicates on Train Data

In [11]:
#No duplicates 
Train_duplicates = Check_duplicates(Train)
Test_duplucates = Check_duplicates(Test)

**Changing  into The Correct DataType**

In [12]:
 category_cols = ['Platform Type', 'Placement - Day of Month', 'Placement - Weekday (Mo = 1)',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)']
       
Train[category_cols] = Train[category_cols].astype('category')
Test[category_cols] = Test[category_cols].astype('category')

Working with the time column

In [13]:
def timeconvert(df,Time_Cols):
  for item in Time_Cols:
    df[item] = (pd.to_datetime(df[item].str.strip(), format='%I:%M:%S %p').dt.strftime('%H:%M:%S'))
  return df

In [14]:
#Getting all time columns into a list
Time_Cols = ['Placement - Time', 'Confirmation - Time', 'Arrival at Pickup - Time', 'Pickup - Time']
Train_Cols = ['Placement - Time', 'Confirmation - Time', 'Arrival at Pickup - Time', 'Pickup - Time','Arrival at Destination - Time']
Train = timeconvert(Train,Train_Cols)
Test = timeconvert(Test,Time_Cols)

In [15]:
Test

            Order No       User Id  ... Average_Rating No_of_Ratings
0     Order_No_19248  User_Id_3355  ...           13.3           171
1     Order_No_12736  User_Id_3647  ...           14.4            45
2       Order_No_768  User_Id_2154  ...           13.1            67
3     Order_No_15332  User_Id_2910  ...           13.7            44
4     Order_No_21373  User_Id_1205  ...           14.1          1010
...              ...           ...  ...            ...           ...
7063   Order_No_3612  User_Id_2587  ...           13.1            87
7064   Order_No_7657  User_Id_3547  ...           13.9          2027
7065   Order_No_1969   User_Id_136  ...           13.7           441
7066  Order_No_10591  User_Id_1979  ...           14.1            66
7067   Order_No_1603  User_Id_1721  ...           14.0           108

[7068 rows x 29 columns]

In [16]:
Train

             Order No       User Id  ... Average_Rating No_of_Ratings
0       Order_No_4211   User_Id_633  ...           13.8           549
1      Order_No_25375  User_Id_2285  ...           13.6            69
2       Order_No_1899   User_Id_265  ...           12.5           114
3       Order_No_9336  User_Id_1402  ...           14.5           113
4      Order_No_27883  User_Id_1737  ...           14.1           533
...               ...           ...  ...            ...           ...
21196   Order_No_8834  User_Id_2001  ...           14.4           131
21197  Order_No_22892  User_Id_1796  ...           12.5           114
21198   Order_No_2831  User_Id_2956  ...           13.8            29
21199   Order_No_6174  User_Id_2524  ...           14.0          1101
21200   Order_No_9836   User_Id_718  ...           13.6            70

[21201 rows x 33 columns]